<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="product.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          required
          v-model="product.quantity"
          name="quantity"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          v-model="product.description"
          name="description"
        />
      </div>

      <button @click="saveProduct" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newProduct">Add</button>
    </div>
  </div>
</template>

<script>
import ProductService from "../services/ProductService";
import UserService from "../services/UserService";

export default {
  name: "add-product",
  data() {
    return {
      product: {
        title: "",
        quantity: 0,
        description: "",
        published: false
      },
      submitted: false
    };
  },
  mounted(){
    if(!localStorage.getItem("loggedUser")){
      alert("You must be logged to perform this action");
      this.$router.replace({ name: "login"});
    }
  },
  methods: {
    validateNumber(number){
      if (!number || isNaN(number) || number < 0) {
        alert("Quantity not valid");
        return false;
      }
      return true;
    },
    saveProduct() {
      if(!this.validateNumber(this.product.quantity)){
        return;
      }
      var data = {
        title: this.product.title,
        quantity: Number(this.product.quantity),
        description: this.product.description,
        published: false
      };

      ProductService.create(data)
        .then(() => {
          console.log("Created new item successfully!");
          this.submitted = true;

          var record = {
            name: JSON.parse(localStorage.getItem("loggedUser")).user.email,
            action: `The product ${data.title} was saved at ${this.$moment().format("HH:mm DD/MM/YYYY")}`
          }
          UserService.create(record);
        })
    },
    
    newProduct() {
      this.submitted = false;
      this.product = {
        title: "",
        quantity: "",
        description: "",
        published: false
      };
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
