<template>
  <div v-if="currentProduct" class="edit-form">
    <h4>Product</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          v-model="currentProduct.title"
        />
      </div>

      <div class="form-group">
        <label for="title">Quantity</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          v-model="currentProduct.quantity"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          v-model="currentProduct.description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentProduct.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      v-if="currentProduct.published"
      @click="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      v-else
      class="badge badge-primary mr-2"
      @click="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" @click="deleteProduct">
      Delete
    </button>

    <button type="submit" class="badge badge-success" @click="updateProduct">
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Please click on a product..</p>
  </div>
</template>

<script>
import ProductService from "../services/ProductService";
import UserService from "../services/UserService";

export default {
  name: "product",
  props: ["product"],
  data() {
    return {
      currentProduct: null,
      message: "",
    };
  },
  watch: {
    product: function(product) {
      this.currentProduct = { ...product };
      this.message = "";
    },
  },
  methods: {
    validateNumber(number){
      if (!number || isNaN(number) || number < 0) {
        alert("Quantity not valid");
        return false;
      }
      return true;
    },
    updatePublished(status) {
      ProductService.update(this.currentProduct.key, {
        published: status,
      }).then(() => {
          this.currentProduct.published = status;
          this.message = "The status was updated successfully!";
          var record = {
            name: JSON.parse(localStorage.getItem("loggedUser")).user.email,
            action: `The product ${this.currentProduct.title} was published at ${this.$moment().format("HH:mm DD/MM/YYYY")}`
          }
          UserService.create(record);
        })
    },

    updateProduct() {
      if(!this.validateNumber(this.currentProduct.quantity)){
        return;
      }

      const data = {
        title: this.currentProduct.title,
        quantity: this.currentProduct.quantity,
        description: this.currentProduct.description,
      };

      ProductService.update(this.currentProduct.key, data)
        .then(() => {
          this.message = "The Product was updated successfully!";
        })

          var record = {
            name: JSON.parse(localStorage.getItem("loggedUser")).user.email,
            action: `The product ${this.currentProduct.title} was updated at ${this.$moment().format("HH:mm DD/MM/YYYY")}`
          }
          UserService.create(record);
    },

    deleteProduct() {
      ProductService.delete(this.currentProduct.key)
        .then(() => {
          this.$emit("refreshList");
        })

        var record = {
          name: JSON.parse(localStorage.getItem("loggedUser")).user.email,
          action: `The product ${this.currentProduct.title} was deleted at ${this.$moment().format("HH:mm DD/MM/YYYY")}`
        }
        UserService.create(record)

        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.message = "";
    this.currentProduct = { ...this.product }
    if(!localStorage.getItem("loggedUser")){
      alert("You must be logged");
      this.$router.replace({ name: "login"});
    }
  },
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
